//Tarjetas para la page INDEX
.article__products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  & :hover{
    transition: 1s;
    box-shadow: $shadow;
  }
}

.article__products__conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 8px 0px;
  background-color: $color-tarjetas;
  border-radius: 8px;
    & :hover {
    box-shadow: none;
  }
}

@mixin cardcover{
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
    & :hover{
    transition: 1s;
    background-color:$color-tarjetas;
  }
}

.article__title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color:#fff9f2a4;
  font-size: 28px;
  font-weight: 600;
    & a{
    text-decoration: none;
    color:$color-font;
  }
}

.article__text{
  margin: 1em;
  text-align: justify;
}


//For >480 px

@media screen and (min-width: 480px){

.article__products {
  font-weight: 400;
  margin-top: 20px;
  }

  .article__products__conteiner{
  flex-direction: row;
  }

.article__text{
  width: 60%;
  }
}

@mixin cardcover480{
  height: 35vh;
  width: 100%;
}


//For > 720 px

@media screen and (min-width: 720px){

  .article__products__conteiner{
  max-width: 40%;
  margin: 1em;
  }

.article__text{
  width: 80%;
  }
}

@mixin cardcover720{
  width: 40vw;
}









//For pages 2 and 3

@mixin cardproduct {
.article__shirts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 45%;
  width: 60%;
  background-color:$color-tarjetas;
  margin: 8px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
      &:hover{
    transition: 1s;
    box-shadow: $shadow;
    } 
  }  

.article__shirt__imagen{
  height: 80%;
  width: 100%;
    & img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.article__shirts h3{
  font-size: medium;
  text-decoration: none;
  color: $color-font;
  font-weight: 600;
}

.article__shirts a{
  text-decoration: none;
  color: $color-font;
}

.article__shirts p {
  font-size: small;
  text-decoration: none;
  color: $color-font;
}
}


//For > 500px

@mixin cardproduct500 {
.article__shirts {
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  max-width: 320px;
  margin: 15px;
  & img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    }
  }
}