@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(25, 25, 25);
  text-decoration: none;
  list-style: none;
}

.article__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.article__products :hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
}

.article__products__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 8px 0px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.article__products__conteiner :hover {
  box-shadow: none;
}

.article__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 249, 242, 0.6431372549);
  font-size: 28px;
  font-weight: 600;
}
.article__title a {
  text-decoration: none;
  color: #252525;
}

.article__text {
  margin: 1em;
  text-align: justify;
}

@media screen and (min-width: 480px) {
  .article__products {
    font-weight: 400;
    margin-top: 20px;
  }
  .article__products__conteiner {
    flex-direction: row;
  }
  .article__text {
    width: 60%;
  }
}
@media screen and (min-width: 720px) {
  .article__products__conteiner {
    max-width: 40%;
    margin: 1em;
  }
  .article__text {
    width: 80%;
  }
}
body {
  background: #F2EEEB;
}

.cover__conteiner {
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(212, 239, 250);
  background: linear-gradient(45deg, rgb(212, 239, 250) 0%, rgb(255, 249, 242) 50%, rgb(251, 233, 213) 70%, rgb(113, 155, 173) 100%);
  background-size: 300%;
  background-position: left;
  animation: cover-animation 15s infinite alternate;
}
.cover h2 {
  margin: 0 auto;
  color: #252525;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  font-weight: 100;
}

@keyframes cover-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/*/////FOR > 480px/////*/
@media screen and (min-width: 480px) {
  .cover__conteiner {
    margin-top: 4px;
  }
  .cover {
    height: 24vh;
    background-image: url("../assets/portadabasica.jpg");
    background-size: cover;
    background-position: top;
    animation: none;
  }
  .cover:hover {
    box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
    background-position: bottom;
    transition: 4s;
  }
  .cover h2 {
    color: #FFFFFF;
    text-shadow: #252525 0px 0px 5px;
    font-size: 30px;
  }
}
@media screen and (min-width: 800px) {
  .cover h2 {
    font-size: 45px;
  }
}
.footer {
  background-color: #252525;
  margin: 0;
}
.footer__list {
  padding: 0 1em;
}
.footer__list a {
  list-style: none;
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__avisoslegales {
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__textoLegales {
  text-align: justify;
  font-size: 0.7em;
  font-weight: 100;
  color: #FFFFFF;
}

@media screen and (min-width: 420px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__list {
    width: 80%;
  }
}
/*NAVBAR MOBILE*/
.conteiner_LogoHam {
  display: flex;
  margin: 0 auto;
  padding: 16px 0;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: #F2EEEB;
}

.logo_name a {
  display: flex;
  text-decoration: none;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.logo_name h1 {
  font-size: 1.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  color: #252525;
}

.logo_name img {
  height: 2rem;
  width: auto;
}

/*BOTÓN HAMBURGUESA*/
.hambutton {
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: #252525;
  border-width: 2px;
  border-radius: 4px;
}
.hambutton__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17.5%;
  /*No cambiar este color*/
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  cursor: pointer;
}
.hambutton__nav span {
  margin: 0 auto;
  height: 10%;
  width: 80%;
  background-color: #252525;
  border-radius: 5%;
  transition: all 1.5s;
}

.activehambutton__nav__bar1 {
  transform: translateX(-3rem);
  opacity: 0;
}

.activehambutton__nav__bar2 {
  transform: translateX(-3rem);
  opacity: 0;
}

.activehambutton__nav__bar3 {
  transform: translateX(-3rem);
  opacity: 0;
}

/*MENU DESPLEGABLE*/
.menu__escrito {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -10rem;
  top: 4rem;
  width: 8rem;
  height: 16rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.menu__escrito.active {
  right: 0;
}

.menu__escrito li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  font-size: larger;
}
.menu__escrito li a {
  text-decoration: none;
  color: #252525;
}

.menu__escrito :hover {
  background-color: #D4EFFA;
  transition: 1s;
}

/*////////FOR > 720px////////*/
@media screen and (min-width: 720px) {
  .hambutton {
    display: none;
  }
  .menu__escrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: inherit;
    right: 16px;
    top: inherit;
    width: 45%;
    height: inherit;
    background-color: transparent;
    box-shadow: none;
    cursor: auto;
    transition: all 1s ease-in-out;
  }
  .menu__escrito li {
    width: auto;
    height: auto;
    text-decoration: none;
    cursor: pointer;
  }
  .menu__escrito :hover {
    /*COLOR y EFECTO A CAMBIAR*/
    color: #719BAD;
    background: transparent;
    transform: scale(1.02);
    transition: 0.5s;
  }
}
/*////////FOR > 1000px////////*/
@media screen and (min-width: 1000px) {
  .menu__escrito {
    width: 35%;
  }
}
.socialNetworks__conteiner {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 44px;
  background-color: #719BAD;
  margin-top: 10px;
}
.socialNetworks__conteiner a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0;
}

.socialNetworks__conteiner i {
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.socialNetworks__conteiner li {
  list-style: none;
  line-height: 0;
}

@media screen and (min-width: 480px) {
  .socialNetworks__conteiner {
    height: 40px;
    justify-content: center;
    gap: 2rem;
  }
  .socialNetworks__conteiner a, .socialNetworks__conteiner i {
    font-size: 20px;
    font-weight: 400;
    color: #252525;
  }
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
}
.contacto__form {
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}
.contacto__form__label {
  display: block;
  padding: 10px 5px;
  text-align: center;
}

.contacto__form:hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
}

.contacto__form__area {
  display: flex;
  margin: 0 auto;
  width: 80%;
  background-color: #F2EEEB;
  border-style: solid;
  border-width: 2px;
  border-color: #252525;
  border-radius: 4px;
}

.botonEnviar {
  display: flex;
  margin: 0 auto;
  background-color: #719BAD;
  width: 8rem;
  height: 2rem;
  border-style: hidden;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .contacto__form {
    width: 100%;
    height: 500px;
  }
}
.page4title {
  margin: 24px;
  text-align: center;
  color: #252525;
}

.conteiner__maps {
  height: 500px;
  margin: 20px;
  border-color: #252525;
  border-style: solid;
  border-width: 2px;
}
.conteiner__maps__ancho {
  width: 100%;
}

/*///FOR > 720 px///*/
@media screen and (min-width: 720px) {
  .conteiner__maps {
    width: 100%;
  }
}
.article__remeras {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/remerablanca1.jpg);
}
.article__remeras :hover {
  transition: 1s;
  background-color: #FFFFFF;
}

.article__pantalones {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/pantalonmarron1.jpeg);
}
.article__pantalones :hover {
  transition: 1s;
  background-color: #FFFFFF;
}

.article__accesorios {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/buzo1.jpg);
}
.article__accesorios :hover {
  transition: 1s;
  background-color: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .article__remeras {
    height: 35vh;
    width: 100%;
    background-image: url(../assets/remerablanca1.jpg);
  }
  .article__pantalones {
    height: 35vh;
    width: 100%;
    background-image: url(../assets/pantalonmarron1.jpeg);
  }
  .article__accesorios {
    height: 35vh;
    width: 100%;
    background-image: url(../assets/buzo1.jpg);
  }
}
@media screen and (min-width: 720px) {
  .article__remeras {
    width: 40vw;
    background-image: url(../assets/remerablanca1.jpg);
  }
  .article__pantalones {
    width: 40vw;
    background-image: url(../assets/pantalonmarron1.jpeg);
  }
  .article__accesorios {
    width: 40vw;
    background-image: url(../assets/buzo1.jpg);
  }
}
.shirts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.article__shirts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 45%;
  width: 60%;
  background-color: #FFFFFF;
  margin: 8px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.article__shirts:hover {
  transition: 1s;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
}

.article__shirt__imagen {
  height: 80%;
  width: 100%;
}
.article__shirt__imagen img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.article__shirts h3 {
  font-size: medium;
  text-decoration: none;
  color: #252525;
  font-weight: 600;
}

.article__shirts a {
  text-decoration: none;
  color: #252525;
}

.article__shirts p {
  font-size: small;
  text-decoration: none;
  color: #252525;
}

.conteiner__botonShowroom {
  display: flex;
  justify-content: center;
}

.botonShowroom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4EFFA;
  height: 3em;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin: 16px;
  border-radius: 8px;
}
.botonShowroom a {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
  font-weight: 800;
}

.botonShowroom:hover {
  transition: 1s;
  background-color: #719BAD;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
}

@media screen and (min-width: 500px) {
  .article__shirts {
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    max-width: 320px;
    margin: 15px;
  }
  .article__shirts img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
@media screen and (min-width: 720px) {
  .page4responsive {
    display: flex;
  }
}
.texto__RemeraNegra {
  display: flex;
  align-content: center;
  width: fit-content;
  padding: 8px;
  margin: 0 auto;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.texto__RemeraNegra h2 {
  font-weight: 100;
  font-size: large;
}

.conteiner {
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 65vh;
  max-width: 100%;
  margin: 10px;
}

.slider-conteiner {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 8px;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
.slider-conteiner:hover {
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
  transition: 1s;
}

.slider-conteiner img {
  flex: 0 0 100%;
  scroll-snap-align: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.guiatalles {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
}
.guiatalles:hover {
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
  transition: 1s;
}

.guiatalles table {
  border-spacing: 8px;
}

.guiatalles p {
  font-size: 20px;
  font-weight: 400;
}

.guiatalles__table {
  text-align: start;
  padding-top: 8px;
  padding-bottom: 8px;
}
.guiatalles__table td, .guiatalles__table th {
  font-size: 15px;
  font-weight: 100;
}

.conteiner__botones {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
  width: fit-content;
  justify-content: center;
}

.conteiner__botonShowroom {
  display: flex;
  justify-content: center;
}

.botonShowroom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4EFFA;
  height: 3em;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin: 16px;
  border-radius: 8px;
}
.botonShowroom a {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
  font-weight: 800;
}

.botonShowroom:hover {
  transition: 1s;
  background-color: #719BAD;
  box-shadow: 0 0 1rem 0 rgba(100, 100, 100, 0.7);
}

@media screen and (min-width: 420px) {
  .superconteiner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .conteiner {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 60% auto;
    height: 60vh;
    width: 100%;
    margin: 10px;
  }
  .slider-conteiner {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .guiatalles {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 14px;
    font-weight: 600;
  }
  .guiatalles table {
    border-spacing: 16px;
  }
}
.conteiner__botones {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media screen and (min-width: 800px) {
  .conteiner {
    width: 65%;
  }
}

/*# sourceMappingURL=styles.css.map */
